<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbM09NOAutN-aPbFML0HJu0ztvuTy1eHM</string>
	<key>GCM_SENDER_ID</key>
	<string>918905996030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sns.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth1-6f99a</string>
	<key>STORAGE_BUCKET</key>
	<string>auth1-6f99a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918905996030:ios:8e7ea6f4c338319fe39baf</string>
</dict>
</plist>